:root {
    --main-bg-color: #4D455D;
    --secondary-color: #E96479;
    --thirth-color: #7DB9B6;
    --light-text-color: #F5E9CF;
}

body {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

body div {
    width: auto;
    height: auto;
}

.titulo {
    color: var(--light-text-color);
}
h1 {
    
}
.calculadora {
    background-color: var(--secondary-color);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding: 30px 30px 30px 30px;
    border-radius: 5%;
    border-style: none;
}


#entrada {
    text-align: center;
    background: var(--light-text-color);
}

.primer-linea {
    display: flex;
    justify-content: space-between;
}

.btn {
    color: var(--light-text-color);
    background-color: var(--thirth-color);
    font-size: large;
    padding: 7.5px;
    border-radius: 5px;
    border-style: none;
}

.btn:hover {
    color: var(--light-text-color);
    background-color: var(--main-bg-color);
}

.botones {
    padding: 15px 0px 15px 0px;
    display: flex;
    justify-content: space-between;
}


.div-btn-calcular {
    display: flex;
    justify-content: center;
}

.primer-linea .btn,
#btn-calcular {
    background-color: var(--main-bg-color);
}

footer {
    background-color: var(--light-text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px 5px 5px;
    gap: 10px;
    border-radius: 30px;
    position: fixed;
    bottom: 0;
    flex: auto;
}