* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-bg-color: #4D455D;
    --secondary-color: #E96479;
    --thirth-color: #7DB9B6;
    --light-text-color: #F5E9CF;
}

body {
    background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    height: 100vh;
}

body div {
    width: auto;
    height: auto;
}

.titulo {
    color: var(--light-text-color);
}

.calculadora {
    background-color: var(--secondary-color);
    box-shadow: rgba(236, 236, 236, 0.25) 0px 54px 55px, rgba(236, 236, 236, 0.12) 0px -12px 30px, rgba(236, 236, 236, 0.12) 0px 4px 6px, rgba(236, 236, 236, 0.17) 0px 12px 13px, rgba(236, 236, 236, 0.09) 0px -3px 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding: 30px;
    border-radius: 5%;
    border-style: none;
}

#entrada {
    text-align: center;
    background: var(--light-text-color);
}

.primer-linea {
    display: flex;
    justify-content: space-between;
}

input[type="button"],
input[type="submit"] {
    color: var(--light-text-color);
    background-color: var(--thirth-color);
    font-size: large;
    padding: 7.5px;
    border-radius: 5px;
    border-style: none;
}

input[type="button"]:hover {
    color: var(--light-text-color);
    background-color: var(--main-bg-color);
}

.botones {
    padding: 15px 0px 15px 0px;
    display: flex;
    justify-content: space-between;
}


.div-btn-calcular {
    display: flex;
    justify-content: center;
}

.primer-linea>input[type="button"],
.div-btn-calcular>input[type="submit"] {
    background-color: var(--main-bg-color);
}

.primer-linea>input[type="button"]:hover,
.div-btn-calcular>input[type="submit"]:hover {
    color: var(--main-bg-color);
    background-color: var(--light-text-color);
}

footer {
    background-color: #f5e9cf85;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
    gap: 10px;
    border-radius: 30px;
    bottom: 0;
    flex: auto;
    font-weight: bolder;
    max-height: 50px;
}

.solucion {
    display: none;
    background-color: rgba(255, 160, 122, 0.705);
    box-shadow: rgba(236, 236, 236, 0.25) 0px 54px 55px, rgba(236, 236, 236, 0.12) 0px -12px 30px, rgba(236, 236, 236, 0.12) 0px 4px 6px, rgba(236, 236, 236, 0.17) 0px 12px 13px, rgba(236, 236, 236, 0.09) 0px -3px 5px;
    color: #333333;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
}

th, td  {
    border: #333333 solid ;
    padding: 5px;
}