<!DOCTYPE html>
<html>

<head>
  <title>Calculadora Lógica</title>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>
  <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='flavicon.ico')}}">
</head>

<body>
  <div class="content">
    <div class="titulo">
      <h1>Calculadora lógica</h1>
    </div>
    <div class="calculadora">
      <form id="formulario" onsubmit=" return false">
        <div class="primer-linea">
          <input type="text" name="Premisa " id="entrada" placeholder="Aquí va la oración">
          <input type="button" value="←" name="Borrar último" onclick="borrarUltimo()">
        </div>

        <div class="botones letras">

          <input type="button" value="p" onclick="agregar('p')">
          <input type="button" value="q" onclick="agregar('q')">
          <input type="button" value="r" onclick="agregar('r')">
          <input type="button" value="(" onclick="agregar('(')">
          <input type="button" value=")" onclick="agregar(')')">
        </div>

        <div class="botones operadores">
          <input type="button" value="~" onclick="agregar('~')">
          <input type="button" value="^" onclick="agregar('^')">
          <input type="button" value="v" onclick="agregar('v')">
          <input type="button" value="→" onclick="agregar('→')">
          <input type="button" value="↔" onclick="agregar('↔')">
        </div>
        <div class="div-btn-calcular">
          <input type="submit" value="Calcular">
        </div>

      </form>
    </div>
    <div id="solucion" class="solucion">
    </div>
  </div>

  <footer>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc/2.0/"><img alt="Licencia Creative Commons"
        style="border-width:0" src="https://i.creativecommons.org/l/by-nc/2.0/88x31.png" />
    </a>
    <div>
      Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by-nc/2.0/">Licencia
        Creative Commons Atribución-NoComercial 2.0 Genérica</a>.
    </div>
  </footer>
</body>
<script src="{{url_for('static', filename='js/index.js')}}"></script>

</html>